<div class="OuterDiv">


    <div role="button" class="add">
        <img class="divImg" src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48 (1).svg">
    </div>
    <div role="button" class="add">
        <img class="divImg" src="../../../assets/group_add_black_24dp.svg">
    </div>

    <div role="button" class="add">


        <div role="button" class="add" [matMenuTriggerFor]="colormenu">
            <img class="divImg" src="../../../assets//palette_black_24dp.svg">
            <mat-menu #colormenu="matMenu" fxLayout="row " fxLayoutAlign="start space-between">
                <div  fxLayout="row wrap" fxLayoutAlign="start center">
                    <div *ngFor="let color of colors" >
                        <button class="color" mat-mini-fab (click)="setcolor(color.name)" 
                             [style.background]="color.code"></button>
                    </div>
                </div>
            </mat-menu>
        </div>
    </div>
    <div role="button" class="add">
        <img class="divImg" src="../../../assets/insert_photo_black_24dp.svg">
    </div>
    <div role="button" class="add" >
        <img class="divImg" src="../../../assets/archive_black_24dp.svg" (click)="archive()">
    </div>
  
    <div role="button" class="add">
     <div class="MoreItem" mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
            <img class="divImg" src="../../../assets/more_vert_black_24dp.svg">
            <mat-menu #menu="matMenu">
                <button mat-menu-item class="matmenuBtn" (click)="trash()">Delete note</button>
                <button mat-menu-item>Add label</button>
                <button mat-menu-item>Add drawing</button>
                <button mat-menu-item>make a copy</button>
                <button mat-menu-item>Show checkboxes</button>
                <button mat-menu-item>copy to google Docs</button>
            </mat-menu>
        </div>
    </div>
</div>    
