
.section{

    border: 1px solid grey;
    display: flex;

    // justify-content: center;
    width: 50%;
    height: 73%;
    position: relative;
    left: 26%;
    top: 5%;
    border-radius: 10px;
    // opacity: 0.5;
}
.heading{
    // border: 2px solid red;
    line-height: 1;  
    height: 10%;
    width: 20%;
    text-align: center;
    display: flex;
    position: relative;
    left: 120%;
    top: 2%;
    font-family   : 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size     : 25px;
    font-weight   : 400;
}

.color1{
    color: blue;
}
.color2{
    color: red;

}
.color3{
    color:yellow;

}
.color4{
    color: blue;

}
.color5{
    color: green;

}
.color6{
    color: red;

}

.title{

    display: flex;
    flex-direction: row;
    position: relative;
    left: 100%;
    top: 2%;
    width: 100%;
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;

}
.title1{
   
    color: #202124;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    text-align: center;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    position: relative;
    left: 90%;
    top: 5%;
}
.Phoneoremail{

    position: relative;
    top: 7%;
    left: 50%;
    width: 150%;
    // height: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 35px;
    padding: 6px 8px;
    margin: 2px;
    border-radius: 3px;
    margin-top: 9%;
}

.mat-form-field{
    width: 225%;
}
.nextbutton{
    // border: 2px solid black;
    position: relative;
    left: 150%;
    width: 100%;
    
    top: 9%;
    font-size: 14px;
    height: 20px;
    padding: 6px 8px;
    margin: 2px;
    margin-top: 15%;

}

.button4{
    
    position: relative;
    left: 26%;
    // background-color: blue;
    background-color: var(--gm-colortextbutton-ink-color,#1a73e8);
    color: white;
    border-radius: 6px;
    width: 40%;
    height: 180%;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;

}