<div class="section">

    <div fxLayout="column" fxLayoutAlign="space-evenly center">

        <div class="heading">
            <p class="color1">F</p>
            <p class="color2">u</p>
            <p class="color3">n</p>
            <p class="color4">d</p>
            <p class="color5">o</p>
            <p class="color6">o</p>

        </div>

        <div class="title">
            <p>Find your email</p>

        </div>
        <div class="title1">
            <p>Enter your recovery email</p>

        </div>
        <form [formGroup]="forget" (ngSubmit)="onSubmit()">
        <div class="Phoneoremail">

            <mat-form-field appearance="outline">
                <mat-label> Email</mat-label>
                <input type="text" formControlName="email" matInput placeholder="email">
                <mat-error>Enter a valid email </mat-error>
              </mat-form-field>

        </div>
        
        <div class="nextbutton">
            <button class="button4" >Next</button>


        </div>
    </form>
    </div>
</div>