<div fxLayout="row wrap" fxLayoutGap="10px grid" style="padding-top: 2%; padding-left: 10%;">
    <div *ngFor="let note of NoteList">
        <mat-card class="card">

            <img class="pin"  src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg">
            <mat-card-title (click)="openDialog(note)">
                {{note.title}}
            </mat-card-title>
          

            <mat-card-content>
                <p style="color: aquamarine;" (click)="openDialog(note)">{{note.note}}</p>
            </mat-card-content>
       

            <div class="icondiv" FxLayoutAlign="space-between centre" > 
                
                <app-icons></app-icons>

            </div>
        </mat-card>
    </div>
</div>
