.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 10% 10%;

    
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
    width: 50%;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
    .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    width: 50%;
    
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
    width: 50%;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
    width: 50%;
  }

  .note-text {
    width: calc(100% - 10px);
    min-height: 43px;
    margin: 0 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
  }
  input:focus {
    outline: none;
  }
  .mat-accordion .mat-expansion-panel:last-of-type{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 500px;
    margin-left: 30%;
    margin-top: 10%;
}

.iconstag1{
  margin-left: 200px;
}
.iconstag2{
  margin-left: 10px;
}
.iconstag3{
  margin-left: 10px;
}
.iconimg4{
  padding: 0px 0px 0px 20px;
  margin: 0px 10px 0 20px;
}
  }

  .note-text {
    width: calc(50% - 10px);
    min-height: 43px;
    margin: 0 5px;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); */
    letter-spacing: 0.00625em;
    border: 0;
    overflow: hidden;
    position: relative;
  }
  input:focus {
    outline: none;
  }
  .mat-accordion .mat-expansion-panel:last-of-type{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 50px;
    margin-left: 30%;
    margin-top: 10%;
}

.iconstag1{
  margin-left: 200px;
}
.iconstag2{
  margin-left: 10px;
}
.iconstag3{
  margin-left: 10px;
}
.iconimg4{
  padding: 0px 0px 0px 20px;
  margin: 0px 10px 0 20px;
}
