<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{panelOpenState ? 'Title' : 'Take a note...'}}
        </mat-panel-title>
        <mat-panel-description>
            <div class="iconstag1"><a href="#"><img src="../../../assets/check_box_black_24dp.svg" alt=""
                        height="25px"></a> </div>
            <div class="iconstag2"> <a href="#"><img src="../../../assets/brush_black_24dp.svg" alt=""
                        height="25px"></a></div>
            <div class="iconstag3"><a href="#"><img src="../../../assets/insert_photo_black_24dp.svg" alt=""
                        height="25px"></a> </div>


        </mat-panel-description>
    </mat-expansion-panel-header>

    <p><input type="text" name="" id="" class="note-text" placeholder="Take a note"></p>