<div class="section">

    <div fxLayout="column" fxLayoutAlign="space-evenly center">
        <div class="heading">
            <p class="color1">F</p>
            <p class="color2">u</p>
            <p class="color3">n</p>
            <p class="color4">d</p>
            <p class="color5">o</p>
            <p class="color6">o</p>

        </div>
        <div class="title">
            <p>Sign in</p>
        </div>
        <div class="title1">
            <p>Use your Fundoo Account</p>
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="Phoneoremail">

            <mat-form-field appearance="outline">
                <mat-label>Email or phone number</mat-label>
                <input type="text" formControlName="email" matInput placeholder="email">
                <mat-error>Enter a valid Email </mat-error>
            </mat-form-field>

        </div>
        <div class="conformpassword">

            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input type="text" formControlName="password" matInput placeholder="password">
                <mat-error>Enter a valid password</mat-error>
            </mat-form-field>

        </div>

        <div class="forgotemailbutton">
            <button class="button">Forgot email?</button>
        </div>
        <div class="paragraph">
            <p>Not your computer? Use Guest mode to sign in privately.</p>

        </div>
        <div class="learnmorebutton">
            <button class="button2">Learn more</button>
        </div>
        <div class="createaccountandnextbutton">
            <button class="button3">Create Account</button>
            <button fxLayout.xs="row" class="button4">Next</button>
        </div>
    </form>
   
</div>
</div>