
.section{

    border: 1px solid grey;
    display: flex;

    // justify-content: center;
    width: 45%;
    height: 88%;
    position: relative;
    left: 26%;
    top: 5%;
    border-radius: 10px;
    // opacity: 0.5;
}
.heading{
    // border: 2px solid red;
    line-height: 1;  
    height: 10%;
    width: 20%;
    text-align: center;
    display: flex;
    position: relative;
    left: 60%;
    top: 2%;
    font-family   : 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size     : 25px;
    font-weight   : 400;
}

.color1{
    color: blue;
}
.color2{
    color: red;

}
.color3{
    color:yellow;

}
.color4{
    color: blue;

}
.color5{
    color: green;

}
.color6{
    color: red;

}

.title{

    display: flex;
    flex-direction: row;
    position: relative;
    left: 100%;
    top: -5%;
    width: 100%;
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;

}
.title1{
   
    color: #202124;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    text-align: center;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    position: relative;
    left: 70%;
    top: -9%;
}
.Phoneoremail{
    position: relative;
    top: -30%;
    left: 70%;
    width: 160%;
    // height: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 35px;
    padding: 6px 8px;
    margin: 2px;
    border-radius: 3px;
    margin-top: 9%;
}

.conformpassword{

    position: relative;
    top: -30%;
    left: 70%;
    width: 150%;
    // height: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 35px;
    padding: 6px 8px;
    margin: 2px;
    border-radius: 3px;
    margin-top: 9%;
}
.hint{
        font-size: 10px;
        color: blue;
        margin-top: 10;
        
     }
    
     .paragraph{
  
        color: #5f6368;
        font-size: 10px;
      
        line-height: 1.4286;
        position: relative;
        top: -23%;
        left: 70%;
        margin: 5%;
        margin-top: 8%;
    
    }
    
.learnmorebutton{
  
    position: relative;
    top: -28%;
    left: 70%;   
    width: 70%;
    font-size: 14px;
    height: 40px;
    padding: 6px 8px;
    margin: 2px;
    margin-top: 15%;
}
.button2{
  
    position: relative;
    right: 4%;
    top: 10%;
   
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    color: var(--gm-colortextbutton-ink-color,#1a73e8);
    background-color: transparent;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
    margin-top: 1%;
   
}
.createaccountandnextbutton{
   
    position: relative;
    display: flex;
    direction: row;
    justify-content: space-between;
    
    left: 70%;
    width: 100%;
    
    top: -25%;
    font-size: 14px;
    height: 20px;
    padding: 6px 8px;
    margin: 2px;
}
.button3{
    
    //color: var(--gm-colortextbutton-ink-color,#1a73e8);
    //font-family: "Google Sans",Roboto,Arial,sans-serif;
    //background-color: transparent;
    position: relative;
    right: 3%;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
}
.forgotemailbutton{
   
    position: relative;
    left: 75%;
    width: 40%;
    top: -23%;
    font-size: 2px;
    height: 5px;
    padding: 2px 3px;
   
    margin-top: 5%;
}
.button{
    color: var(--gm-colortextbutton-ink-color,#1a73e8);
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    background-color: transparent;
    position: relative;
    right: 3%;
    font-size: .825rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
   
}
.button4{
  
    position: relative;
    left: 38%;
    
    background-color: var(--gm-colortextbutton-ink-color,#1a73e8);
    color: var(--gm-colortextbutton-ink-color,#1a73e8);
    border-radius: 6px;
    width: 22%;
    height: 180%;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
}
.btn-property {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
  //  margin-left: -34px;
  //  margin-right: 115px;
  //  margin-left: -22px;
   // margin-right: 98px;
   // margin-top: 5px;
}
.dashboard{
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);

}
