 
   .section{
    border: 1px solid grey;
    display: flex;

    // justify-content: center;
    width: 65%;
    height: 80%;
    position: relative;
    left: 16%;
    top: 5%;
    border-radius: 10px;
    // opacity: 0.5;
    
}
.form{
    
    //display: flex;
     justify-content: center;
    width: 60%;
    height: 100%;
    position: relative;
    left: 15%;
    top: 1%;
    border-radius: 10px;
    // opacity: 0.5;

}

.heading{
    // border: 2px solid red;
    line-height: 1;  
    height: 100%;
    width: 100%;
    text-align: start;
    display: flex;
    position: relative;
    left: -1%;
    top: 5%;
    font-family   : 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size     : 24px;
   // font-weight   : 400;
}
.color1{
    color: blue;
}
.color2{
    color: red;

}
.color3{
    color:yellow;

}
.color4{
    color: blue;

}
.color5{
    color: green;

}
.color6{
    color: red;

}
.title{
    // border: 2px solid green;
    display: flex;
    flex-direction: row;
    position: relative;
    left: -1%;
    top: -6%;
    width: 80%;
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3333;

}
.firstandlastname{
    //border: 1px solid grey;
   // display: flex;
   // justify-content: space-between;
    //width: 6%;
    height: 5%;
    position: relative;
    left: -1%;
    top: 8%;
    border-radius: 10px;
   // opacity: 0.5;
   font-size: 2;

}
.username{
position: relative;
top: 1%;
left: -1%;
width: 100%;

}


.emailbutton{
  position: relative;
    left: -3%;
    width: 90%;
     height: 5%;
    top: 5%;
    font-size: 12px;
    height: 20px;
    padding: 5px 7px;
    margin: 2px;
   

}
.button{
  color: var(--gm-colortextbutton-ink-color,#1a73e8);
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: .0107142857em;
  font-weight: 500;
  text-transform: none;
  cursor: pointer;
  border: none;

}
.passwordandconfirm{
  position: relative;
  top: 1%;
  left: -3%;
  width: 97%;
  // height: 50%;
  display: flex;
 // justify-content: space-between;
  font-size: 14px;
  height: 35px;
  padding: 2px 6px;
  margin: 2px;
  border-radius: 3px;

}
.hint{
    font-size: 10px;
    left: 6%;
    top: 6%;
}

.checkbox{
    // border: 2px solid red;
    position: relative;
    left: -1%;
    width: 70%;
    top: 2%;
    font-size: 14px;
    height: 25px;
    padding: 6px 8px;
  
    cursor: pointer;
     margin-top: 15%;

}

.signinandnextbutton{
    // border: 2px solid black;
    position: relative;
    left: 1%;
    width: 50%;
    // height: 05%;
    top: 10%;
    font-size: 14px;
    height: 20px;
    padding: 5px 6px;
    margin: 2px;
    margin-top: 15%;
}
.button1{
    // border: 2px solid red;
    // color: blue;
    color: var(--gm-colortextbutton-ink-color,#1a73e8);
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
}
.button2{
    
    position: relative;
    left: 100%;
    background-color: var(--gm-colortextbutton-ink-color,#1a73e8);
    color: white;
    border-radius: 6px;
    width: 22%;
    height: 180%;
    font-size: 14px;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
}
.rightdiv{

  left: 82px;
  width: 70%;
  height: 100%;
  text-align: end;

}

.image{
  align-items: center;
  width: 200px;
  height: 200px;
  top: 3;

}
.para{
  
  position: relative;
  left: -6%;
  top: 10;
  
  
 text-align: center;
  font-size: 14px;
  font-weight: 300;
 
}


