<div class="section">

    <div fxLayout="column" fxLayoutAlign="space-evenly center">

        <div class="heading">
            <p class="color1">F</p>
            <p class="color2">u</p>
            <p class="color3">n</p>
            <p class="color4">d</p>
            <p class="color5">o</p>
            <p class="color6">o</p>

        </div>

        <div class="title">
            <p>Reset password</p>

        </div>
        <div class="title1">
            <p>Enter new password</p>

        </div>
        <div class="Phoneoremail">

            <mat-form-field appearance="outline">
                <mat-label>new password</mat-label>
                <input type="text" formControlName="new password" matInput placeholder="password">
                <mat-error>Enter a valid password </mat-error>
              </mat-form-field>

        </div>
        <div class="conformpassword">

            <mat-form-field appearance="outline">
                <mat-label> conform password</mat-label>
                <input type="text" formControlName="conform password" matInput placeholder="password">
                <mat-error>Enter a valid password</mat-error>
              </mat-form-field>

        </div>
        
        <div class="nextbutton">
            <button class="button4" >Next</button>


        </div>
    </div>
</div>